.start {
    padding: 1rem 0 0;
    margin-bottom: 1rem;
}
.logo {
    max-width: 4.67rem;
    margin-bottom: 1rem;
}
.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.intro_wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem 0;
}
.start_info {
    margin-right: 6rem;
    font-size: 0.83rem;
}
.tesis {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 1rem;
    margin-bottom: 1rem;
}
.tesis-item {
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.tesis-item img{
    width: 0.9rem;
    height: 0.9rem;
    margin-right: 0.2rem;
}
.intro_text {
    width: 26.25rem;
    font-size: 0.83rem;
}
.intro_text h1{
    font-size: 3.33rem;
    margin-bottom: 1rem;
}
.intro_text p{
    line-height: 1.5;
}
.intro_img{
    margin-top: 2rem;
    min-width: 12.7rem;
    position: relative;
}
.intro_img .ellipse_1 {
    width: 90%;
    height: 1.7rem;
    background-color: #EFEFEF;
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    bottom: -0.6rem;
    left: 1.4rem;
}
.intro_img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.intro_quote {
    background-color:#1E4681;
    color: white;
    line-height: 1.3;
    width: 33%;
    min-width: 20.16rem;
    border-radius: 5px;
    padding: 0.8rem 1.1rem;
    margin: auto;
}
.intro_quote-text {
    font-family: 'Roboto Slab', serif;
    font-size: 1.04rem;
    margin-bottom: 0.9rem;
}
.intro_quote-author {
    text-align: end;
}

@media (min-width: 320px) and (max-width: 768px) {
    .intro_text {
        font-size: 1rem;
    }
    .intro_text h1 {
        font-size: 37px;
    }
    .intro_wrap {
        display: block;
        max-width: 65rem;
    }
    .intro_img{
        margin-top: 0;
        margin-left: auto;
        max-width: 14.2rem;
    }
    .intro_quote {
        margin-left: 0;
    }
}
@media (min-width: 769px) and (max-width: 1130px) {
    .intro_text {
        font-size: 0.86rem;
    }
}