.footer {
    background-color: #000000;
    color: #FFFFFF;
}
.footer .container {
    padding: 2.08rem 0.5rem;
}
.footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6.12rem;
}
.contacts-left {
    height: 7.41rem;
    width: 8.2rem;
}
.logo-white{
    width: 60%;
    margin-bottom: 1.25rem;
}
.socials {
    display: flex;
    justify-content: space-between;
}
.socials img {
    max-width: 1.375rem;
    max-height: 1.375rem;
}
.contacts-right {
    width: 13.25rem;
}
.contacts-right img{
    max-width: 1.125rem;
    max-height: 1.125rem;
}
.phone, .mail {
    display: flex;
    justify-content: flex-start;
    gap: 0.9rem
}
.phone {
    margin-bottom: 1rem;
}
.bottom {
    font-size: 0.75rem;
}

@media (min-width: 320px) and (max-width: 768px) {
    .footer .container {
        padding: 2.33rem 3.6rem;
    }
    .footer-wrap {
        flex-direction: column;
        align-items: flex-start;
        gap: 3rem;
        margin-bottom: 4.9rem;
    }
    .contacts-right {
        font-size: 1.2rem;
        width: 50%;
    }
    .socials img {
        min-width: 1.6rem;
        min-height: 1.6rem;
    }
    .contacts-right img{
        min-width: 1.258rem;
        min-height: 1.258rem;
    }
    .bottom {
        font-size: 1rem;
    }
}
@media (min-width: 769px) and (max-width: 1130px) {
    .footer .container {
        padding: 2.33rem 3rem;
    }
}