.format {
    margin-top: 6.75rem;
}
.format-title, .know-title {
    margin-bottom: 2rem;
}
.format-wrap {
    display: flex;
    gap: 3rem;
    width: 83%;
    padding: 2rem 0;
    margin-bottom: 4rem;
}
.title {
    font-size: 1.04rem;
    font-weight: 700;
    color: #1E4681;
    margin-bottom: 0.5rem;
}
.text {
    font-size: 0.75rem;
    line-height: 130%;
}
.know-list {
    width: 55%;
    line-height: 150%;
    padding-left: 1.5rem;
}

@media (min-width: 320px) and (max-width: 768px) {
    .format-wrap {
        flex-direction: column;
        padding: 0;
        width: 55%;
    }
    .title {
        font-size: 1.2rem;
    }
    .text {
        font-size: 1rem;
    }
    .know-list {
        width: 100%;
        font-size: 1.2rem;
    }
}